<div class='container-fluid navbar'>
  <div class='navbar-collection d-flex'>
    <ul class='navbar-links d-none d-lg-flex align-items-centre'>
      <li class='navbar-item'>
        <a class='navbar-link' href="#ABOUT">ABOUT</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href="#TEAM">TEAM</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href="#IMPRESSUM">IMPRESSUM</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href="#PRIVACY">PRIVACY POLICY</a>
      </li>
    </ul>
  </div>
  <div class='navbar-collection d-flex flex-row-reverse align-items-center'>
    <a href="https://www.youtube.com/watch?v=AIFvFuZPr68" class='goats-video-link'>
    WE ❤️ GOATS
    </a>
  </div>
  <div class='navbar-collection d-flex'>
    <ul class='navbar-links d-none d-lg-flex align-items-centre'>
      <li class='navbar-item'>
        <a class='navbar-link' href="#ABOUT">ABOUT</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href="#TEAM">TEAM</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href="#IMPRESSUM">IMPRESSUM</a>
      </li>
      <li class='navbar-item'>
        <a class='navbar-link' href="#PRIVACY">PRIVACY POLICY</a>
      </li>
    </ul>
  </div>
</div>
