<div class="container-footer">

  <ul class="footer-ul">
    <li class="footer-item">
      <a class="footer-link" href="#ABOUT">About</a>
    </li>
    <li class="footer-item">
      <a class="footer-link" href="#TEAM">Team</a>
    </li>
  </ul>

  <div class="container_wlg">
    <a href="https://www.youtube.com/watch?v=AIFvFuZPr68" class="goats-video-link">
    WE ❤️ GOATS
    </a>
  </div>

  <ul class="footer-ul">
    <li class="footer-item">
      <a class="footer-link" href="#ABOUT">Impressum</a>
    </li>
    <li class="footer-item">
      <a class="footer-link" href="#TEAM">Privacy Policy</a>
    </li>
  </ul>
</div>
