<div>
  <nav class="container-navbar">
    <div class="container-logo">
      <a class="navbar-link" href="/">
        <%= image_tag "freelancegoats-logo.png", alt: "Freelance Goats logo", class:"navbar-logo" %>
      </a>
    </div>
    <div class="container-items">
      <ul>
        <li class="navbar-item">
          <a class="navbar-link" href="/">Home</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/goats">Book a goat</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/goats/new">Add your goat</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/users/sign_in">Log In</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
