// Import page-specific CSS files here.
@import "home";
@import "new";

.container-h1 h1 {
  text-align: left;
  padding: 80px 80px 40px 80px;
  color: #404040;
}

.container-cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1px;
  display: grid;
  place-items: center;
  padding: 0 80px;
}

.container-cards h2 {
  color: #8053ef;
  font-family: 'Lilita One', cursive;
}

.container-cards a {
  text-decoration: none;
  color: inherit;
}
