.third {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
}

.third > *{
  flex: 1;
}

.goat-form {
  background: rgb(254, 254, 254);
  border-radius: 8px;
}

.new-goat-header {
  margin-bottom: 20px;
}

.goat-button {
  max-width: 343px !important;
  margin-bottom: 20px;
}
