.container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 24px;
}

.container-img img {
  height: 600px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.container-title {
  padding-left: 200px;
  padding-top: 30px;
}

.btn-book-goat {
  background-color: #8053ef;
  font-size: 18px;
  text-decoration: none;
  color: #000000c2;
  border: 1.5px solid hsla(0, 0%, 0%, 0.6);
  letter-spacing: 1px;
  text-align: center;
  transition: all .35s;
}

.btn-book-goat a {
  text-decoration: none;
  color: #000000c2;
}

.btn-book-goat a:hover {
  text-decoration: none;
  color: #FFFFFF;
  transition: all .35s;
}
