
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px;
}

.container-img img {
  height: 400px;
  width: 1440px;
  object-fit: cover;
}

.container-title {
  padding-left: 200px;
  padding-top: 30px;
}

.container-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px 80px;
}

.container-details h2 {
  font-family: 'Lilita One', cursive;
  font-size: 3em;
  color: #F15687;
  filter: drop-shadow(3px 3px #1d1717);
}

.input [type="submit"] {
  width: 200px;
  height: 48px;
  margin-bottom: 24px;
}
