<div class='container-booking'>
  <h3>Book this Goat</h3>
    <div class='booking-form'>
      <%= simple_form_for([@goat, @booking]) do |f| %>
        <div class='narrow-form'>
        <%= f.input :start_date %>
        <%= f.input :end_date  %>
        <%= f.button :submit %>
      <% end %>
    </div>
</div>
