<div class="container-hero">
  <div class="hero-banner">
    <h1>Rent a goat for every occasion.</h1>
    <div class="btn" id="btn-all-goats">
      <a href="/goats"><span>Check all goats</span></a>
    </div>
  </div>
</div>
