<div class="container-hero">
  <div class="hero-banner">
    <h1>Rent a goat for every occasion.</h1>
    <button class="btn" id="see-all-goats">
    <a href="/goats">Check all goats</a>
    </button>
  </div>
</div>
