.card {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: 400px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.047), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: auto 0;
  margin-top: 5%;
}

.card:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #8053ef;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.185), 0 10px 10px rgba(0,0,0,0.22);
}

.img-goat {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin: 0;
}

.container-goats {
  padding: 25px;
}

.goat-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.goat-card-header h5 {
  color: #404040;
  font-size: 0.85em;
  text-transform: uppercase;
}

.card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0 0 0;
}

.card-details h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #404040;
}

.card-details h4 {
  color: #4040409f;
  font-size: 1.2em;
}
