.container-h1 h1 {
  text-align: left;
  padding: 80px 80px 40px 110px;
}

.container-cards h2 {
  color: #8053ef;
  font-family: 'Lilita One', cursive;
}

.container-cards {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  display: grid;
  place-items: center;
  padding: 0 80px;
}

.container-cards a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 32px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  overflow: hidden;
  width: 350px;
}

.card-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // padding: 20px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #4ce3fa;
}

.tag-purple {
  background-color: #8053ef;
}

.tag-pink {
  background-color: #cd5b9f;
}

.tag-yellow {
  background-color: palegoldenrod;
}

.tag-green {
  background-color: palegreen
}

.tag-orange {
  background-color: peru;
}

.card-body p {
  font-size: 16px;
}
