.container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  border-bottom: 2px solid #e5e5e5;
}

.container-items {
  display: flex;
  flex-direction: row;
}

.container-navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
  margin: 0;
}

.navbar-item {
  margin-right: 16px;
  align-self: center;
  text-transform: uppercase;
}

.container-navbar a {
   text-decoration: none;
   color: #8053EF;
   font-weight: bold;
 }

 .container-navbar a:active {
   color: #F15687;
 }

 .container-navbar a:hover {
   color: #1d1717;
   text-decoration: #F15687 underline 5px;
   transition: all .35s;
 }

 .navbar-logo {
   width: 60px;
   height: 60px;
 }
