$text: #1d1717;
$gray: #737373;

.container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.container-items {
  display: flex;
  flex-direction: row;
}

.container-navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
  margin: 0;
}

.navbar-item {
  margin-right: 16px;
  align-self: center;
  text-transform: uppercase;
}

.container-navbar a {
   text-decoration: none;
   color: $gray;
 }

 .container-navbar a:active {
   color: #e4b427;
 }

 .container-navbar a:hover {
   color: #1d1717;
   text-decoration: #e4b427 underline 5px;
 }

 .navbar-logo {
   width: 60px;
   height: 60px;
 }
