<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Goats</title>
</head>
<body>
<div>
  <div container >
    <h1>`We found #{goats.num} Freelance Goats for you in #{user.city}`</h1>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <img src="Image_URL" alt="GOAT 1" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">Goat Type</span>
        <h4>
          Goat Name
        </h4>
        <p>
          Goat Description
        </p>
        <div class="goat">
          <div class="goat-info">
            <h5>Goat Price</h5>
            <small>Goat Gender</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <img src="Image_URL" alt="GOAT 1" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">Goat Type</span>
        <h4>
          Goat Name
        </h4>
        <p>
          Goat Description
        </p>
        <div class="goat">
          <div class="goat-info">
            <h5>Goat Price</h5>
            <small>Goat Gender</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <img src="Image_URL" alt="GOAT 1" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">Goat Type</span>
        <h4>
          Goat Name
        </h4>
        <p>
          Goat Description
        </p>
        <div class="goat">
          <div class="goat-info">
            <h5>Goat Price</h5>
            <small>Goat Gender</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
