<div>
  <nav class='container-fluid navbar'>
    <div class='navbar-collection d-flex flex-row-reverse align-items-center'>
      <button class='navbar-user-trigger'>
        <img alt='LOGO HERE' class='navbar-logo' src='TBC'>
      </button>
    </div>
    <div class='navbar-collection d-flex'>
      <ul class='navbar-links d-none d-lg-flex align-items-centre'>
        <li class='navbar-item'>
          <a class='navbar-link' href="#HOME">HOME</a>
        </li>
        <li class='navbar-item'>
          <a class='navbar-link' href="#BOOK">BOOK A GOAT</a>
        </li>
        <li class='navbar-item'>
          <a class='navbar-link' href="#NEW">ADD YOUR GOAT</a>
        </li>
        <li class='navbar-item'>
          <a class='navbar-link' href="#LOGIN">LOG IN/SIGN UP</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
