<div>
  <nav class="container-navbar">
    <div class="container-logo">
      <img alt="Freelance goats logo" class="navbar-logo" src="#">
    </div>
    <div class="container-items">
      <ul>
        <li class="navbar-item">
          <a class="navbar-link" href="#HOME">Home</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#BOOK">Book a goat</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#NEW">Add your goat</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#LOGIN">Log In / Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
